body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

img{
    margin-top: 25rem;
    margin-left: 9%;
    max-width: 90%;
    max-height: 90%;
}

footer{
    /* position: absolute; */
    position: fixed;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    /* top: 94vh; */
    padding: .6rem;
    background-color: rgba(0, 0, 0, 0.9);  
}

.footer p{
    font-size: 12px;
    color: gray;
}
